.idea
.DS_Store
*.DS_Store
/app/config/parameters.php
/app/storage/cache/*
/app/storage/doctrine/*
/app/storage/log/*
/app/storage/uploads/*
/vendor/
composer.phar
/app/views/datasets/multiple.twig

tests/_output/*