{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Alle details van dataset {{ dataset.name }}</h1>

            <div class="row">
                <div class="col-md-6">

                    <p>Details van deze set kunenn hier dan in en bij opgehaald worden..</p>
                    <p>Betsandsnaam: {{ dataset.filename }}</p>
                </div>

                <div class="col-md-6">

                </div>

            </div>

        </div>
    </div>

{% endblock %}
