{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Dataset "{{ dataset.name }}"</h1>

            {{ html|raw }}
        </div>

    </div>

{% endblock %}