{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Testresultaten</h1>
            <p>Je werkt in dataset "<a href="/datasets/{{ dataset.id }}">{{ dataset.name }}</a>"</p>

            {{ html|raw }}
        </div>

    </div>

{% endblock %}