{#
Template for an email message sent to authorize a password reset.
Variables passed to this template:
    user: The SimpleUser\User instance.
    resetUrl: The link to click to reset the password.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    Wachtwoord wijzigen
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

Wachtwoord wijzigen

Klik op de link hieronder om je wachtwoord te wijzigen:
{{ resetUrl }}


_______________________________________________________________
Geen idee waar deze mail vandaan komt?

Als je niet hebt aangegeven je wachtwoord te willen wijzigen, beschouw deze mail dan als niet verstuurd. Waarschijnlijk heeft een andere gebruiker per ongeluk je emailadres ingevuld.

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>Wachtwoord wijzigen</h1>

    <p>
        <a href="{{ resetUrl }}">Klik hier om je wachtwoord te wijzigen</a>.
    </p>

    <hr style="margin-top: 30px;"/>
    <p style="font-size: 13px;">
        <strong>Geen idee waar deze mail vandaan komt?</strong>
        <br/>
        Als je niet hebt aangegeven je wachtwoord te willen wijzigen, beschouw deze mail dan als niet verstuurd. Waarschijnlijk heeft een andere gebruiker per ongeluk je emailadres ingevuld.
    </p>

{%- endblock -%}
