{% extends layout_template  %}

{% block title %}Email bevestiging nodig{% endblock %}

{% block content %}

    <h1>Je account is nog niet actief!</h1>

    <p>Er zou een email gestuurd moeten zijn naar <strong>{{ email }}</strong> tijdens het registratieproces.</p>

    <p>Klik op de link in die email om je emailadres te bevestigen.</p>

    <div style="margin: 20px 0px;">
        <form method="POST" action="{{ resendUrl }}">
            <input type="hidden" name="email" value="{{ email }}">
            <button type="submit" class="btn btn-default">Nogmaals sturen</button>
        </form>
    </div>

    <p>Kijk eventueel ook in je spamfolder. De afzender is <strong>{{ fromAddress }}</strong>.</p>

{% endblock %}
