{% extends layout_template  %}

{% block title %}Email bevestiging verzonden{% endblock %}

{% block content %}

    <h1>Dank!</h1>

    <p>Er is een email verzonden naar <strong>{{ email }}</strong>.</p>

    <p>Klik op de link in die email om je account te activeren.</p>

{% endblock %}
