{% extends layout_template  %}

{% block title %}Wachtwoord wijzigen{% endblock %}

{% block content %}

    <h1>
        Kies een nieuw wachtwoord, {{ user.displayName }}
    </h1>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-password">Nieuw wachtwoord</label>
            <div class="col-sm-8">
                <input class="form-control" name="password" type="password" id="input-password" required placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-confirm-password">Typ wachtwoord nogmaals</label>
            <div class="col-sm-8">
                <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" required placeholder="Re-type password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Wachtwoord opslaan</button>
            </div>
        </div>
    </form>

{% endblock %}
