{% extends "layout.html.twig" %}

    <h1>Configuratie voor dataset "{{ dataset.name }}"</h1>

{% block content %}
    <div class="row">
        <div class="col-md-6">

            <p>
                Geef s.v.p. ten minste het teken op waarmee in uw csv-bestand de kolommen van elkaar te onderscheiden zijn.<br>
            </p>
            
            {% form_theme form 'bootstrap_3_layout.html.twig' %}

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">wijzigingen opslaan</button>
            </div>
            {{ form_end(form) }}

        </div>
        <div class="col-md-6">

        </div>
    </div>


{% endblock %}
