{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>Colofon</h1>

            <p>Behalve dat deze tool als het goed is doet wat ie moet doen, </p>
        </div>

        <div class="col-md-6">
            
        </div>
    </div>
{% endblock %}
