{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>Colofon</h1>

            <p>Deze tool is ontwikkeld binnen het project Erfgoed &amp; Locatie.</p>

            <p>Behalve dat deze tool - als het goed is - doet wat ie moet doen, namelijk plaatsnamen batchgewijs standaardiseren, heeft het team er ook de <a href="{{ app.histograph_api }}">Histograph API</a> mee willen testen.</p>

        </div>

        <div class="col-md-6">
            
        </div>
    </div>
{% endblock %}
