{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h1>Plaatsnamen standaardiseren</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Standaardiseert plaatsnamen batchgewijs</li>
                        <li>Zoekt Geonames, Getty Thesaurus of Geographic Names en Gemeentegeschiedenis URI's</li>
                        <li>Geeft coördinaten</li>
                        <li>Kent historische naamvarianten en historische gemeentes</li>
                        <li>Gebruikt de Histograph API</li>
                        <li>Maakt bewerken en verfijnen data mogelijk</li>
                    </ul>
                    
                </div>
                <div class="col-md-6">
                    <a href="{{ path('dataset-upload-form') }}" class="btn btn-primary">Plaatsnamenlijst<br /> uploaden</a>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Waarom standaardiseren?</h2>

            <ul>
                <li>Benoem plaatsen op een eenduidige manier</li>
                <li>Koppel makkelijker met data elders</li>
                <li>Haal eenvoudig meer informatie over een plaats op (coördinaten, alternatieve namen, etc.)</li>
                <li>Nooit meer last van verschillende schrijfwijzes</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h2>Voor wie?</h2>

            <p>Deze tool is vooral ontwikkeld voor mensen die werkzaam zijn in het erfgoedveld.</p>

            <ul>
                <li>Een archivaris die een lijst geboorteplaatsen uit 17e-eeuwse akten wil standaardiseren.</li>
                <li>Een museummedewerker die een deel van de beeldbank op een kaartje wil tonen.</li>
                <li>Een collectiebeheerder die plaatsnamen in de collectie vast wil leggen op basis van een thesaurus als de TGN</li>
                <li>Een historicus die op de juiste manier naar gemeentes aan het eind van de 19e eeuw wil verwijzen.</li>
            </ul>

            <p>
        </div>

        <div class="col-md-4">
            <h2>Hoe werkt het?</h2>

            <ul>
                <li>Stap 1: maak een csv-bestand met de te standaardiseren plaatsnamen</li>
                <li>Stap 2: upload het bestand en geef aan welk veld de plaatsnamen bevat, of gezocht moet worden naar gemeentes, plaatsen of beide, etc.</li>
                <li>Stap 3: laat de tool standaardiseren</li>
                <li>Stap 4: bekijk en bewerk de resultaten (verwijder onterechte koppelingen, maak keuzes uit meerdere mogelijkheden, voer handmatig koppelingen in)</li>
            </ul> 
        </div>
    </div>
{% endblock %}
