{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h1>Demo tijd</h1>
            <p>We gaan een demo ding maken</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Paar linkje voor Menno</h2>

            <ul>
                <li>Silex docs: http://silex.sensiolabs.org/documentation</li>
                <li>Ik heb voor de pagina's nu twig templates gebruikt; zie: http://twig.sensiolabs.org </li>

                <li>Vragen: gaan we de tekst op de pagina's in het NL of EN doen? Want dan evt. handig om meteen translation files te maken.</li>
                <li>Maak je nu even geen zorgen over users en inloggen, ik heb iets moois gevonden wat we zo kunnen integreren.</li>
            </ul>
        </div>
    </div>
{% endblock %}
