{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h1>Demo tijd</h1>
            <p>We gaan een demo ding maken</p>

        </div>
    </div>
{% endblock %}
