{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h1>Wat is de Place identificator?</h1>
            <p>Hier komt uitleg over wat dit ding is en wat je ermee kunt doen.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Meer uitleg</h2>

            <p>Uitleg van het een of ander</p>
        </div>

        <div class="col-md-6">
            <h2>Meer uitleg</h2>

            <p>Uitleg van het een of ander</p>
        </div>
    </div>
{% endblock %}
