{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h1>Toponiemen standaardiseren</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Standaardiseer plaatsen naar GeoNames of TGN</li>
                        <li>Standaardiseer gemeentes naar Gemeentegeschiedenis of GeoNames</li>
                        <li>Standaardiseer straten naar Nationaal Wegenbestand of BAG</li>
                        <li>Standaardiseer adressen en gebouwen naar BAG</li>
                        <li>Vind geometrieën</li>
                        <li>Help mee de Geocoder beter te maken</li>
                    </ul>
                    
                </div>
                <div class="col-md-6">
                    <a href="{{ path('dataset-upload-form') }}" class="btn btn-primary">CSV met namen<br /> uploaden</a>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Waarom standaardiseren?</h2>

            <ul>
                <li>Benoem toponiemen op een eenduidige manier</li>
                <li>Maak Linked Data mogelijk</li>
                <li>Haal eenvoudig meer informatie over een plaats op (coördinaten, alternatieve namen, etc.)</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h2>Hoe werkt het?</h2>

            <ul>
                <li>Stap 1: maak een csv-bestand met de te standaardiseren plaatsaanduidingen</li>
                <li>Stap 2: upload het bestand en geef aan welke velden welke informatie bevatten</li>
                <li>Stap 3: laat de tool standaardiseren</li>
                <li>Stap 4: bekijk en bewerk de resultaten</li>
                <li>Stap 5: download de verrijkte csv</li>
            </ul> 

            <p>
        </div>

        <div class="col-md-4">
            <h2>Meer weten?</h2>

            <ul>
                <li>Lees <a href="http://erfgeo.nl/wat-hoe/standaardiseertool.html" target="_blank">de handleiding</a> op ErfGeo.nl</li>
                <li>Andere manieren om te standaardiseren</li>
                <li>Suggesties? Bugs? Mail ons via <a href="mailto:erfgoedenlocatie@den.nl">erfgoedenlocatie@den.nl</a></li>
            </ul> 
        </div>
    </div>
{% endblock %}
