{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h1>Plaatsnamen standaardiseren</h1>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>Standaardiseert plaatsnamen batchgewijs</li>
                        <li>Zoekt Geonames, Getty Thesaurus of Geographic Names en Gemeentegeschiedenis URI's</li>
                        <li>Geeft coördinaten</li>
                        <li>Kent historische naamvarianten en historische gemeentes</li>
                        <li>Gebruikt de Historische Geocoder</li>
                    </ul>
                    
                </div>
                <div class="col-md-6">
                    <a href="{{ path('dataset-upload-form') }}" class="btn btn-primary">Plaatsnamenlijst<br /> uploaden</a>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Waarom standaardiseren?</h2>

            <p>Een lijstje goede redenen (we hebben een missie)</p>
        </div>

        <div class="col-md-4">
            <h2>Voor wie?</h2>

            <p>Erfgoeders enzo.</p>
        </div>

        <div class="col-md-4">
            <h2>Hoe werkt het?</h2>

            <p>Erfgoeders enzo.</p>
        </div>
    </div>
{% endblock %}
